.navbar-default{
  color: #637dff;
  border-radius: 0 !important;
}

.header{
  text-align: center;
  padding: 60px;
}

.search{
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

#search{
  border-radius: 0 !important;
  -webkit-appearance: none;

  -webkit-box-shadow: 5px 15px 40px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 15px 40px -8px rgba(0,0,0,0.75);
  box-shadow: 5px 15px 40px -8px rgba(0,0,0,0.75);
}

#submit{
  margin-top: 60px;
}

.medication{
  padding: 60px;
  background-color: #f7f7f7;
}

.drugs{
  padding-top: 40px;
  padding-right: 40px;
}
